<div class="panel panel-default">
    <div class="panel-heading main-color-bg">
      <h3 class="panel-title">CarryForward Request</h3>
    </div>
<div class="panel-body">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Leave Type</th>
          <th>Request Days</th>
          <th>Period</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>paki</td>
          <td>casual leave</td>
          <td>12 days</td>
          <td>3 months</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>